odysseus.el
auto-save-list
auth
bookmarks
elpa
eshell
tramp
transient
url
auto*
*.html
*.db
*.eld
*.data
*.json
*~
*#
recent*
.org-id*
session*
.lsp-session*
/assets/switcher.el
/.cache/
/projects
/eln-cache/
/.mc-lists.el
/nov-places
/.auth/
/org-clock-save.el
/bbdb

site-lisp/*
!site-lisp/README

# Symlinks
**/*@
